@import url(https://fonts.googleapis.com/css?family=Fauna+One|Open+Sans+Condensed:300,300italic,700);

*{border: red solid 1px}
.main {
	background: #a8f2ff;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Fauna One';
	
}

.main__title {
	font-family: 'Open Sans Condensed';
	font-size: 4rem;
	margin: 2rem;
}
.review-form{
	display: flex;
	flex-direction: column;
	
}
.title-box{
	display: flex;
}
.title-label{
	flex:1
}
.img-box{
	display: flex;
}
.img-label{
	flex:1
}
