@import '../lib/css/global.css';


/**{border: red solid 1px}*/
.main {
	background: #a8f2ff;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Fauna One';
	
}

.main__title {
	font-size: 4rem;
	margin: 2rem;
}
.review-form{
    background: #e7f3fc;
    border-radius: 10px;
	padding: 25px;
	display: flex;
	flex-direction: column;
	width: 500px;
}

.form-item-box{
	display: flex;
    align-items: center;
	padding-bottom: 15px;
}
.form-label{
	font-size: 26px;
	flex:1;
}
.form-input{
    flex-basis: 150px;
}
.description-box{
	display: flex;
	padding-bottom: 15px;
}
.submit_btn{
	align-self: flex-end;
	border-radius: 5px;
	background: #00a2ff;
	border: 0;
	color: white;
	font-size: 20px;
	padding: 10px 25px;
	box-shadow: 0px 2px 0px   #236983;
	cursor: pointer;
    transition: all .25s ease-in-out;
	transition-property: background-color, box-shadow;
}
.submit_btn:hover{
	background-color: #00d6bd;
	box-shadow: 0px 8px 15px rgba(16, 16, 16, 0.63);
}
.red_border{
	border: red 2px solid;
}
